extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Fan Art
        p Love Lord of the Rings fan art? We do too. Upload your own! Check out our favorites below. Share the wealth of Smaug.

        if !currentUser
          a.btn.btn-info-outline.btn-lg.m-t-1.m-x-2(href='/register') Get Started for FREE
          a.btn.btn-info-outline.btn-lg.m-t-1(href='/login') Log In

        if currentUser
          h4.display-2 Coming soon!
