extends layout

block content
  div(ng-app="ardaApp")
    .main.container.clearfix
      .row
        .col-md-8.col-md-offset-2(ng-controller="TopicsController as topics")
          h2 Barad-dûr.
          p.m-y-4 The flame-wreathed eye above the Dark Tower never closes, never rests, never sleeps. It is always searching for the one ring. 
          div
      div.row
        div.col-lg-2
        div.col-md-8.m-t-2
          div.input-group
            span.input-group-btn
              button(type="button").btn.btn-default Go!
            input(id="Barad-dur" type="text" placeholder="Search for...").form-control
            ul.suggestions
              li
        div.col-lg-2
        script(src="/scripts/search.js" type="text/javascript")
