extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 The Arda Discussion Boards
        p Arda Boards is a site allowing Tolkien fans to get together and discuss. There is no limitation on discussion (within reason) but we ask that you generally keep your head in the magical world of Arda.

        a.btn.btn-primary(href='#') Sign up


