extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
          | #{name}
        h2.favorite-book Favorite Character
        | #{favoriteChar}
        br
        br
        label(class="btn btn-primary" for="my-file-selector") Change Profile Picture
          input(id="my-file-selector" type="file" style="display:none;" onchange="$('#upload-file-info').text($(this).val());")
        span(class='label label-info' id="upload-file-info")