extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img(id="profileAvatar" src=profileImage, alt='avatar').avatar.img-circle.hidden-xs-down
          | #{name}
        br
        br
        form(id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post")
          label(for="userPhoto")
            h6 Change Profile Picture
          br
          p (make it square for best results)
          input(type="file" name="userPhoto")
          input(type="submit" value="Upload Image" name="submit").btn.btn-primary
        hr
        h2.display-4 Profile info
        hr
        h5.favorite-book Favorite Character
        | #{favoriteChar}

        
        