extends layout

block content
  div(ng-app="ardaApp")
    .main.container.clearfix
      .row
        .col-md-8.col-md-offset-2(ng-controller="TopicsController as topics")
          h2 Welcome to Rivendell.
          p.m-y-4 The tranquil homestead of Elrond and his elven brethren lies in eastern Eriador, in a narrow dell carved by the river Bruinen. Step into its hall of ancient wisdom. 
          // p Create a new topic that all the inquiring minds of the realm, clever and otherwise, might bask in the collective light of Ardan knowledge.
          
          button(class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample").m-b-2 Post a new topic
          div(class="collapse" id="collapseExample")
           div(class="card card-block") 
            .card.card-block
                form(ng-submit="newTopicForm.$valid && submitTopic(newTopic)" name="newTopicForm" novalidate)
                  div.form-group
                    label(for="formGroupInputTopic").text-primary Title of your topic
                    input(type="text" class="form-control" id="formGroupInputTopic" placeholder="Not all those who wander are lost." ng-model="newTopic.title" required)
                  div.form-group
                    label(for="formGroupTextAreaTopic").text-primary Topic
                    textarea(type="text" class="form-control" id="formGroupTextAreaTopic" placeholder="Your illustrious and intellectually generous query, comment, or insight goes here." ng-model="newTopic.text" required).Custom-Text-Area
                    br
                    p(ng-model="newTopic.author").text-muted Topic posted by 
                     strong(id="profile-name") #{name}
                    input(class="btn btn-primary" type="submit" value="Submit")
                    p {{newTopicForm.$valid}}
            .card.card-block(ng-show="newTopic.text || newTopic.title")
             p.text-muted.m-b-1 Preview:
             h4.text-primary {{newTopic.title}}
             p.text-muted {{newTopic.text}}
             button.btn.btn-link - #{name} @ {{ date | date:'longDate'}}
          br
          br
      .row
        // topic controller
        div(ng-controller="TopicsController as topics").col-md-8.col-md-offset-2
          .row 
            //repeat topics, limit five on this page
            div(ng-repeat="item in list | limitTo: 5").card
              div.card-block.text-muted
                hr
                a(href="/rivendell/{{item._id}}")
                  h4.card-title.text-primary.card-header {{item.title}}
                hr
                p.glyphicon.glyphicon-fire
                p.white-spaced.card-text {{item.text}}
                a(href="/users/{{item.author}}")
                  img(ng-src="{{item.authorImg}}").avatar.img-circle.hidden-xs-down
                  .btn.btn-link - {{item.author}} @ {{item.createdAt | date:'longDate'}}
                h5.m-y-1.text-primary {{item.comments.length}} Comment(s):
                hr
                // collapsable add comment form
                div
                 a.btn.btn-primary(data-toggle="collapse" href="#collapseExample-{{item._id}}" aria-expanded="false" aria-controls="collapseExample-{{item._id}}" data-topicId="{{item._id}}") Add a new comment
                div(id="collapseExample-{{item._id}}").collapse
                 .card.card-block
                  form(ng-submit="postComment(newComment)" novalidate)
                    div.form-group
                      label(for="newCommentForm" ng-init="newComment.topicId = item._id") Your wise and erudite contribution to this topic:
                      textarea(type="text" class="form-control" id="newCommentForm" placeholder='"Many are the strange chances of the world,’ said Mithrandir, ‘and help oft shall come from the hands of the weak when the Wise falter."' ng-model="newComment.text" required class="generalTextArea")
                      br
                      // p.text-white {{item._id}}
                      
                      p(ng-model="newComment.author") Comment posted by <strong>{{newComment.author}}</strong>
                      input(class="btn btn-primary" type="submit" value="Submit")
                div(id="accordion" role="tablist" aria-multiselectable="true").m-t-1
                  div.card
                    div(class="card-header" role="tab" id="headingOne")
                      h5.mb-0
                        a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Comments
                    div(id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne")
                      div.card-block Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                div(ng-repeat="comment in item.comments").m-y-1.card-footer.card.card-block
                  // p.text-success {{comment.votes}} votes
                    a
                      i.text-success.icn-logo.material-icons.m-r-1 whatshot
                    a(ng-click="comment.votes = comment.votes - 1")
                      i.material-icons.m-x-1.m-l-2 thumb_down
                    a(ng-click="comment.votes = comment.votes + 1")
                      i.material-icons.m-x-1 thumb_up
                  
                  p.text-primary.white-spaced {{comment.text}}
                  hr
                  span
                    img(ng-src="{{comment.authorImg}}").avatar.img-circle
                    button.btn.btn-primary.btn-sm - {{comment.author}}
                    p.text-success - {{comment.createdAt | date:'longDate'}}
                  
              div
              p End repeat.