extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
          | #{name}
        h2.favorite-book Favorite Character
        | #{favoriteChar}
        p This is the Rivendell page.
        | #{print}
        
        h1.display-4.m-b-2 Discuss lore
        p Create a new topic that all the inquiring minds of the realm, clever and otherwise, might bask in the collective light of Ardan knowledge.
            form(method="POST" action="/topics")
                div.form-group
                    label(for='NewTopic') Username
                    textarea(id="NewTopic").form-control(type='text' id='NewTopic' placeholder='Add lore' name='NewTopic')
                button.btn.btn-primary(type="submit") Log in