extends layout

block content

    .container.main
        .row.m-t-5
            .col-md-3
            .col-md-6
                h1 it's a form
                
                form
                 div.form-group
                  label(for="formGroupExampleInput") Example label
                  input(type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input")
                 div.form-group
                  label(for="formGroupExampleInput2") Another label
                  input(type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input")
                 div.form-group
                  label(for="formGroupExampleInput2") Another label
                  textarea(type="text" class="form-control" id="Custom-Text-Area" placeholder="Another input").Custom-Text-Area
            .col-md-3